		<meta charset="utf-8"/>
		<meta property="og:type" content="game"/>
		<meta property="og:url" content="{{= CONFIG.site.url }}"/>
		<meta property="og:image" content="{{= CONFIG.site.url }}/static/images/image.jpg"/>
		<meta property="og:title" content="{{= title }}"/>
		<meta property="og:site_name" content="{{= CONFIG.site.name }}"/>
		<meta property="og:description" content="{{= CONFIG.site.description }}"/>
		<meta property="og:fb:admins" content="{{- CONFIG.site.admin.id }}"/>
		<meta property="og:fb:app_id" content="{{- CONFIG.site.fb.app_id }}"/>

		<title>{{= title }}</title>
		<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon"/>
		<link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>